@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
* {
    font-family: 'Inter', sans-serif;
}
html,body{
    overflow-x: hidden;
    overflow-y: auto;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 10vh;
    width: 100%;
    font-size: larger;
    font-weight:bold ;


}
nav a {
    text-decoration: none;
    color: white;
}
#header {
    margin-top: 8%;
    height: 100vh;
    width: 100%;
    text-align: center;
}
#header img {
    margin: auto;
    border-radius: 5% 25%
}
.container {
    background-position: center;
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.portfolio {
}
.personal {
}
.container img {
    height: 35vh;
    width: 25vw;
    border-radius: 4%;
}
p {
    height: 15vh;
    width: 25vw;
}

#contacts {
    margin-left: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    color: black;
    font-weight: bold;
    width: 100vw;
    height: 20vh;
    text-align: center;

}

footer {
    position: absolute;
    padding-top: 1vw;
    right: 0;
    left: 0;
    height: 3vw;
    width: 100vw;
    background-color: black;
    font-size: larger;
    color: white;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
}
#contacts img {
     height: 5%;
    width: 15%;
}
#contacts a {
    text-decoration: none;
    color: black;
}